<div id="header">
  <nav>
    <li class="home"><a href="/">robs.io</a></li>
    <li class="quickbuttons"><a href="http://skilstak.com" target="_blank">SkilStak</a></li>
    <li class="quickbuttons"><a href="http://linkedin.com/in/robmuh" target="_blank">LinkedIn</a></li>
    <li class="quickbuttons"><a href="http://twitter.com/robmuh" target="_blank">Twitter</a></li>
    <li class="quickbuttons"><a href="http://github.com/robmuh" target="_blank">GitHub</a></li>
    <li class="title"> Rob Muhlestein </li>
  </nav>
</div>
